<h1>Welcome to the Car Simulator</h1>
<p></p>
<form id="create_car" action="/cars/create">
  <label for="make">Make: </label>
  <input type="text" name="make" id ="make"/>
  <label for "model_year">Year: </label>
  <input type="number" name="model_year" id="model_year"/>
  <input type="submit" value="Create new car"/>
</form>
